@import url("style.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Open Sans', sans-serif;
}

@layer components {
    .d-none {
        display: none;
    }

    .sideMenu-item {
        @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
    }

    .sideMenu-item.active {
        @apply bg-slate-700 outline outline-1 outline-slate-800 opacity-90
    }
    .sideMenu-item.active svg {
        @apply fill-white
    }



    .pagination-previousBtn {
        @apply inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
    }
    .pagination-nextBtn {
        @apply inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-gray-800 border-0 border-l border-gray-700 rounded-r hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
    }

    .pagination-previousBtn.active-page, .pagination-nextBtn.active-page {

    }



    .loading-text {
        @apply animate-pulse text-gray-600 bg-gray-600 rounded;
    }
}

@layer utilities {
    .container-principal-sm {
        padding-left: 17rem;
        padding-right: 1rem;
    }
}