body {
    height: 100vh;
}


.user-icon {
    width: 56px;
    aspect-ratio: 1/1;
}


.container-principal {
    height: calc(100vh - 80px);
}

.form-auth {
    width: 30rem;
    margin: auto;
}



#createTaskButton svg {
    fill: #F1F5F9;
}
#createTaskButton:hover svg {
    fill: #31C48D;
}
#createTaskButton:active svg {
    fill: #0E9F6E;
}